body {
    font-family: Arial;
    background: #f4f6ff;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container {
    background: white;
    padding: 30px;
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background: #6a5acd;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #4f43a3;
}

.progressContainer {
    width: 100%;
    height: 20px;
    background: #ddd;
    border-radius: 20px;
    margin-top: 15px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #6a5acd;
    transition: width 1s ease;
}

canvas {
    margin-top: 20px;
}