<!DOCTYPE html>
<html>
<head>
    <title>Fake Review Detector</title>
    <link rel="stylesheet" href="static\style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="container">
    <h1>Fake Review Detector 🔍</h1>

    <textarea id="review" placeholder="Paste a review here..."></textarea>

    <button onclick="analyze()">Analyze Review</button>

    <h2 id="result"></h2>
    <p id="confidence"></p>

    <!-- Progress Bar -->
    <div class="progressContainer">
        <div id="progressBar"></div>
    </div>

    <!-- Chart -->
    <canvas id="reviewChart"></canvas>
</div>

<script src="static\script.js"></script>
</body>
</html>